absl-py==1.2.0
aggdraw==1.3.15
alembic==1.8.1
appnope==0.1.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asgiref==3.5.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
autokeras==1.0.19
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
blis==0.7.8
bottleneck==1.3.4
brotli==1.0.9
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
catboost==1.0.6
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.4
click==8.1.2
cloudpickle==2.0.0
colorama==0.4.5
colorlover==0.3.0
cryptography==37.0.1
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
databricks-cli==0.17.3
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
docker==5.0.3
entrypoints==0.4
executing==0.8.3
flask==2.2.2
flatbuffers==1.12
fonttools==4.25.0
freetype==2.11.0
funcy==1.17
future==0.18.2
gast==0.4.0
gensim==4.2.0
giflib==5.2.1
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.6
google-auth==2.11.0
google-pasta==0.2.0
greenlet==1.1.3
grpcio==1.47.0
gunicorn==20.1.0
h11==0.13.0
h2o-wave==0.21.0
h5py==3.7.0
htmlmin==0.1.12
httpcore==0.12.3
httpx==0.16.1
icu==58.2
idna==3.3
imagehash==4.2.1
imbalanced-learn==0.9.1
importlib-metadata==4.12.0
intel-openmp==2021.4.0
ipykernel==6.9.1
ipython==8.3.0
ipython_genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
jinja2==3.0.3
joblib==1.1.0
jpeg==9e
jsonschema==4.4.0
jupyter==1.0.0
jupyter_client==7.2.2
jupyter_console==6.4.3
jupyter_core==4.10.0
jupyterlab_pygments==0.1.2
jupyterlab_widgets==1.0.0
keras-preprocessing==1.1.2
keras-tuner==1.1.4.dev0
keras==2.9.0
kiwisolver==1.4.2
kmodes==0.12.1
kt-legacy==1.0.4
langcodes==3.3.0
lcms2==2.12
libclang==14.0.6
libcxx==12.0.0
libffi==3.3
libgfortran==3.0.1
libllvm11==11.1.0
libpng==1.6.37
libsodium==1.0.18
libtiff==4.2.0
libwebp-base==1.2.2
libwebp==1.2.2
libxgboost==1.5.0
lightgbm==3.3.2
llvm-openmp==12.0.0
llvmlite==0.39.0
lz4-c==1.9.3
mako==1.2.2
markdown==3.4.1
markupsafe==2.1.1
matplotlib-base==3.5.1
matplotlib-inline==0.1.2
matplotlib==3.5.1
missingno==0.5.1
mistune==0.8.4
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
mlflow==1.28.0
mlxtend==0.20.0
multimethod==1.8
munkres==1.1.4
murmurhash==1.0.8
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
ncurses==6.3
nest-asyncio==1.5.5
networkx==2.8.6
nltk==3.7
notebook==6.4.11
numba==0.56.0
numexpr==2.8.1
numpy-base==1.21.5
numpy==1.21.5
oauthlib==3.2.0
openssl==1.1.1q
opt-einsum==3.3.0
packaging==21.3
pandas-profiling==3.2.0
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.2
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
pillow==9.0.1
pip==21.2.4
plotly==5.10.0
preshed==3.0.7
prometheus-flask-exporter==0.20.3
prometheus_client==0.13.1
prompt-toolkit==3.0.20
prompt_toolkit==3.0.20
protobuf==3.19.4
ptyprocess==0.7.0
pure_eval==0.2.2
py-xgboost==1.5.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycaret==2.2.2
pycparser==2.21
pydantic==1.9.2
pygments==2.11.2
pyjwt==2.4.0
pyldavis==3.3.1
pynndescent==0.5.7
pyod==1.0.4
pyopenssl==22.0.0
pyparsing==3.0.4
pyqt==5.9.2
pyrsistent==0.18.0
pysocks==1.7.1
python-dateutil==2.8.2
python-fastjsonschema==2.15.1
python-graphviz==0.20.1
python==3.9.12
pytz==2022.1
pywavelets==1.3.0
pyyaml==6.0
pyzmq==22.3.0
qt==5.9.7
qtconsole==5.3.0
qtpy==2.0.1
querystring-parser==1.2.4
readline==8.1.2
regex==2022.8.17
requests-oauthlib==1.3.1
requests==2.27.1
rfc3986==1.5.0
rsa==4.9
scikit-learn==1.1.2
scikit-plot==0.3.7
scipy==1.7.3
seaborn==0.11.2
send2trash==1.8.0
setuptools==61.2.0
shap==0.39.0
sip==4.19.13
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy==3.4.1
sqlalchemy==1.4.40
sqlite==3.38.2
sqlparse==0.4.2
srsly==2.4.4
stack_data==0.2.0
starlette==0.13.8
statsmodels==0.13.2
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tbb==2021.5.0
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow==2.9.1
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
textblob==0.17.1
thinc==8.1.0
threadpoolctl==2.2.0
tk==8.6.11
torch==1.11.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typer==0.4.2
typing-extensions==4.1.1
typing_extensions==4.1.1
tzdata==2022a
umap-learn==0.5.3
urllib3==1.26.9
uvicorn==0.17.6
visions==0.7.4
visualkeras==0.0.2
wasabi==0.10.1
wave==0.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.0
werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.5.2
wordcloud==1.8.2.2
wrapt==1.14.1
xgboost==1.5.0
xz==5.2.5
yellowbrick==1.5
zeromq==4.3.4
zipp==3.8.1
zlib==1.2.12
zstd==1.5.2
